body {
    background: #555;
    text-align: center;
    color: white;
}

#canvas {
    margin: auto;
    width: 500px;
    height: 500px;
    line-height: 500px;
    text-align: center;
    border: 1px solid white;
}